@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f4f4f4;
  color: #2e2e2e;
}

.inputbox {
    position: relative;
    width: 100%;
  }
  .inputbox input {
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    color: #23242a;
    font-size: 1em;
    transition: 0.5s;
    z-index: 10;
    outline: none;
  }
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    transition: 0.5s;
    pointer-events: none;
  }
  .inputbox input:valid ~ span,
  .inputbox input:focus ~ span {
    color: #666;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
  }
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: rgba(102, 102, 102, 0.4);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  .inputbox input:valid ~ i,
  .inputbox input:focus ~ i {
    height: 44px;
  }

  /* Estilo especial para el botón de exportación (de Uiverse) */
#a {
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
  background: rgba(255, 255, 255, 0.068);
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 8px;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.2s;
  border: 1px solid transparent;
}


#a:hover {
  border-color: rgba(108, 108, 108, 0.623);
  background: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 0.144),
    rgba(60, 60, 60, 0.247),
    rgba(62, 62, 62, 0.39)
  );
  box-shadow: 0 6px rgba(255, 255, 255, 0.623);
  transform: translateY(-6px);
}

#a:active {
  transform: translateY(2px);
  box-shadow: none;
}
