@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f4f4f4;
  color: #2e2e2e;
}

.inputbox {
    position: relative;
    width: 100%;
  }
  .inputbox input {
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    color: #23242a;
    font-size: 1em;
    transition: 0.5s;
    z-index: 10;
    outline: none;
  }
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    transition: 0.5s;
    pointer-events: none;
  }
  .inputbox input:valid ~ span,
  .inputbox input:focus ~ span {
    color: #666;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
  }
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: rgba(102, 102, 102, 0.4);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  .inputbox input:valid ~ i,
  .inputbox input:focus ~ i {
    height: 44px;
  }