---
import NavbarActions from "./NavBarActions"
---
<body class="text-[#2e2e2e] font-sans">

  <!-- Contenedor Sticky Blur -->
  <div class="fixed top-0 z-50 flex items-center justify-between bg-[#dcdcdc00] backdrop-blur-[60px] w-full px-6 py-4 transition-transform duration-300">

    <!-- Logo a la izquierda -->
    <div class="flex items-center space-x-3">
      <img src="Logo.webp" alt="Logo Nissan" class="h-8">
      <span class="text-xl font-medium">NISSAN</span>
    </div>
  
    <!-- Menú centrado -->
    <nav class="flex-1 flex justify-center">
      <div class="flex gap-5 text-[#2e2e2e] font-bold">
        <a href="#Home" id="Inicio" class="text-[#2e2e2e] font-bold transition-all duration-300 transform hover:-translate-y-[3px] hover:shadow-md hover:bg-white hover:text-[#666666] px-5 py-2  rounded-lg">Inicio</a>
        <a href="#Models" id="Modelos" class="transition-all duration-300 transform hover:-translate-y-[3px] hover:shadow-md hover:bg-white hover:text-[#666666] px-5 py-2  rounded-lg">Modelos</a>
        <a href="#Services" id="Servicios" class="transition-all duration-300 transform hover:-translate-y-[3px] hover:shadow-md hover:bg-white hover:text-[#666666] px-5 py-2  rounded-lg">Servicios</a>
        <a href="#Contact" id="Contacto" class="transition-all duration-300 transform hover:-translate-y-[3px] hover:shadow-md hover:bg-white hover:text-[#666666] px-5 py-2  rounded-lg">Contacto</a>
      </div>
    </nav>
  
    <!-- Acciones a la derecha -->
    <div class="flex items-center gap-4 ml-4">
      <NavbarActions client:load />
    </div>
  
  </div>

  <script>
  const links = document.querySelectorAll('nav a');

  links.forEach(link => {
    link.addEventListener('click', (e) => {
      e.preventDefault();

      // Remove the 'active' class from all links
      links.forEach(item => item.classList.remove('active'));

      // Add the 'active' class to the clicked link
      link.classList.add('active');

      // Get the target element
      const targetId = link.getAttribute('href');
      if (targetId) {
        const targetElement = document.querySelector(targetId);
        if (targetElement) {
          // Smooth scroll to the target section
          targetElement.scrollIntoView({ behavior: 'smooth' });
        }
      }
    });
  });


window.addEventListener('scroll', () => {
  const sections = document.querySelectorAll('div[id]');
  let current = '';

  sections.forEach(section => {
    const sectionTop = (section as HTMLElement).offsetTop;
    const sectionHeight = section.clientHeight;
    if (pageYOffset >= sectionTop - sectionHeight / 2) {
      current = section.getAttribute('id') ?? '';
    }

  });

  
});
  </script>

</body>
</html>
